# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.so
.Python
build/
dist/
wheels/
*.egg-info/
*.egg
venv/
.venv/
env/
ENV/

# dbt
target/
dbt_packages/
logs/
dbt_modules/
*.tmp

# Data files
data/
*.duckdb
*.duckdb.wal
*.duckdb.tmp
*.csv
*.parquet
*.xlsx
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Testing
test/
tests/__pycache__/
.pytest_cache/
.coverage

# Pipeline (si no quieres versionarlo)
pipeline/

# OS
Thumbs.db
.DS_Store